.selectOption{
    width: 150px;
}
.top-section-proff{
    background-image: url("https://img.freepik.com/free-photo/smiling-showing-thumb-up-young-male-teacher-wearing-glasses-points-blackboard-classroom_141793-114462.jpg?size=626&ext=jpg&ga=GA1.1.27304542.1684867612&semt=ais");
}
.anchor-uni{
    text-decoration: underline;
}